.$*
applicant-credit-history-service/node_modules/*

applicant-credit-history-service/dist/*

applicant-credit-history-service/.env

loan-application-service/node_modules/*

loan-application-service/dist/*

loan-application-service/.env

loan-decision-service/node_modules/*

loan-decision-service/dist/*

loan-decision-service/.env